
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Index/index">Home</a></li>
    <li class="active">People</li>
</ul>

<h2>People</h2>
<br />
<table class="table table-striped table-hover ">
    <thead>
        <tr class="success">
            <th>Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th colspan="2">Relationship</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.id</td>
                <td>@person.firstname</td>
                <td>@person.middlename</td>
                <td>@person.lastname</td>
                <td>@person.relationship</td>
                <td><a href="/People/Profile/@person.id" class="btn btn-primary btn-xs">Profile</a> 
                <a href="/People/Edit/@person.id" class="btn btn-warning btn-xs">Edit</a> 
                <a href="/People/Delete/@person.id" class="btn btn-danger btn-xs">Delete</a> </td>
            </tr>
        }
    </tbody>
</table> 
<a href="/People/create" class="btn btn-info">Create New Person</a>